# Ejemplos

In [5]:
def rocket_parts():
    print('payload, propellant, structure')

rocket_parts()

output = rocket_parts()

output

payload, propellant, structure
payload, propellant, structure

In [9]:
any([False, False, False])
str(15)

'15'

In [12]:
def distance_from_earth(destination):
    if destination == 'Moon':
        return '238,855'
    else:
        return 'Unable to compute to that destination'

distance_from_earth('Saturn')

'Unable to compute to that destination'

In [13]:
def days_to_complete(distance, speed):
    hours = distance/speed
    return hours/24

days_to_complete(5665, 36)

6.556712962962963

In [16]:
total_days = days_to_complete(5050, 25)

round(days_to_complete(5050, 25))

8

In [21]:
from datetime import timedelta, datetime

def arrival_time(hours = 51):
    now = datetime.now()
    arrival = now + timedelta(hours=hours)
    return arrival.strftime('Arrival: %A %H:%M')
    
arrival_time()

'Arrival: Sunday 17:42'

In [20]:
arrival_time(hours=0)

'Arrival: Friday 14:36'

In [27]:
def variable_length(*args):
    print(args)

variable_length()

(25, 5)

In [29]:
def sequence_time(*args1):
    total_minutes = sum(args1)
    if total_minutes < 60:
        return f'Total time to launch is {total_minutes} minutes'
    else:
        return f'Total time to launch is {total_minutes/60} hours'

sequence_time(5, 3, 45, 60)

'Total time to launch is 1.8833333333333333 hours'

In [30]:
def variable_l(**kwargs):
    print(kwargs)

variable_l(tanks=1, day='Wednesday', pilots=3)

{'tanks': 1, 'day': 'Wednesday', 'pilots': 3}

In [31]:
def crew_members(**ness):
    print(f'{len(ness)} astronauts assigned for this mission:')
    for title, name in ness.items():
        print(f'{title}: {name}')

crew_members(captain='Neil Amstrong', pilot='Bus Aldrin', Comand_pilot='Michael Collins')

3 astronauts assigned for this mission:
captain: Neil Amstrong
pilot: Bus Aldrin
Comand_pilot: Michael Collins

# Ejercicio 1

In [54]:
def tanks_ranks(tnk1, tnk2, tnk3):
    average = (tnk1+tnk2+tnk3)/3
    return f"""El promedio de los 3 tanques es: {average}%  Tanque 1: {tnk1}%  tanque 2: {tnk2}% tanque 3: {tnk3}%""" 

tanks_ranks(25, 30, 60)

'El promedio de los 3 tanques es: 38.333333333333336%  Tanque 1: 25%  tanque 2: 30% tanque 3: 60%'

In [55]:
print(tanks_ranks(0, 0, 0))

El promedio de los 3 tanques es: 0.0%  Tanque 1: 0%  tanque 2: 0% tanque 3: 0%

In [62]:
def prom(*promedio):
    total = sum(promedio)
    numero_datos = len(promedio)
    return total/numero_datos

def tanques(tanque1, tanque2, tanque3):
    return f"""El reporte del tanque es:{prom(tanque1, tanque2, tanque3)}% de combustible total"""

tanques(50, 50, 50)

'El reporte del tanque es:50.0% de combustible total'

In [63]:
print(tanques(60, 30, 25))

El reporte del tanque es:38.333333333333336% de combustible total

# Ejercicio 2

In [67]:
def moon_report(hora_mision, día_misión, depo1, depo2, depo3, distancia):
    total_galon = depo1 + depo2 + depo3 
    return f"""Día {día_misión}, hora: {hora_mision}hrs, Total de combustible:{total_galon} Distancia:{distancia}km"""

print(moon_report(17, "Martes", 3000, 2500, 200, 50000))

Día Martes, hora: 17hrs, Total de combustible:5700 Distancia:50000km

In [87]:
def travel_report(destiny, *time, **fuel_reserves):
    total_fuel = sum(fuel_reserves.values())
    total_time = sum(time)
    for tanks in fuel_reserves.items():
        roll = []
        roll.append(tanks)
    return f"""Destination to: {destiny}
    {roll[0]}
    total fuel: {total_fuel}
    total time: {total_time}
    """

print(travel_report('Moon', 5, 2, 36, tanque1 = 500, tanque2 = 200))

Destination to: Moon
    ('tanque2', 200)
    total fuel: 700
    total time: 43